@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');


$pri-bg-color : #008ECC;
$slider-arrow-bg-color : #f5ffff;


@mixin fonta($fon-2 : 14px) {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $fon-2;
    line-height: 18px;
    color: #222222;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

ul::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

.fist-block {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    background: #F5F5F5;
}

.fist-welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
}


.fist-pincode {
    font-weight: 800;
}

.fist-right-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fist-deliver-img,
.fist-track-img,
.fist-offer-img {
    padding-right: 6px;
}

.fist-deliver,
.fist-track,
.fist-offer {
    padding: 14px 0px;
    display: flex;
    align-items: center;
}

.fist-line-img {
    padding: 0px 16px;
}

input {
    border: 1px solid white;
    background-color: #F3F9FB;
    padding-left: 12px;
    width: 450px;
}

.serch-bar {
    display: flex;
    background-color: #F3F9FB;
}


/* second block starts */

.scnd-block {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.scnd-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
}

.scnd-nav-sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scnd-nav-sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scnd-serch-bar,
.scnd-signup-login,
.scnd-caart {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.scnd-menu-btn {
    background-color: #F3F9FB;
    padding: 16px 10px 14px 12px;
    border-radius: 10px;
}

.scnd-logo-name {
    padding-left: 16px;
}

.scnd-serch-bar {
    margin: 21px 0px;
    padding: 15px 16px;
    border-radius: 10px;
    background-color: #F3F9FB;
}

.scnd-list {
    padding-left: 5%;
}

.scnd-signup-login {
    padding-left: 30px;
}

.scnd-sign-txt,
.scnd-cart-txt {
    padding-left: 6px;
}

.scnd-line-img {
    padding-right: 20px;
    padding-left: 20px;
}

/* third container starts */

.thrd-nav {
    padding: 0% 10%;
}

.thrd-block {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    border: 1px solid #EDEDED;
    padding: 16px 0px 17px 0px;
}

.thrd-block ul {
    text-decoration: none;
    white-space: nowrap;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.thrd-block .mainmenu>li {
    display: inline-block;
}

.thrd-drp-down {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F9FB;
    border-radius: 18px;
}

.thrd-drp-down a {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    text-decoration: none;
}


.thrd-drop-txt-1 {
    text-decoration: none;
    padding: 9px 6px 9px 14px;
}


.whole-in-one {
    display: flex;
    justify-content: space-between;
}


.fist-side-with-img {
    display: flex;
    justify-content: center;
    align-items: center;
}


img.drop-down-arrow {
    padding-right: 14px;
    padding-left: 6px;
}

img.drop-down-white-arrow {
    padding-right: 14px;
    padding-left: 6px;
}

img.drop-right-down-arrow {
    padding-right: 14px;
    padding-left: 6px;
}

img.drop-white-right-down-arrow {
    padding-right: 14px;
    padding-left: 6px;
}

img.sub-img {
    margin-right: 10px;
    padding-bottom: 3px;
}

.mainmenu li .thrd-drop-1:hover,
.mainmenu li .thrd-drop-1:hover a {
    background-color: $pri-bg-color;
    cursor: pointer;
    color: white;
}

.mainmenu li .thrd-drop-1:hover .drop-white-right-down-arrow {
    display: inline-block;
}

.mainmenu li .thrd-drop-1:hover .drop-right-down-arrow {
    display: none;
}

.mainmenu li .thrd-drp-down:hover,
.mainmenu li .thrd-drp-down:hover a {
    background-color: $pri-bg-color;
    cursor: pointer;
    color: white;
}

.thrd-dro-1,
.submenu1 {
    margin-left: 10px;
}

.submenu-links {
    margin-top: 1px;
    background-color: #d5f4ff;
}

/* .insider-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.submenu1 {
    z-index: 1000;
    margin-top: 1px;
    display: none;
    position: absolute;
    background-color: #d5f4ff;
    border-radius: 20px;
}

.dummy {
    margin-bottom: 14px;
}

.subsubmenu1 {
    margin-top: 1px;
    display: none;
    position: absolute;
    background-color: #d5f4ff;
    border-radius: 20px;
}

.mainmenu li:hover .submenu1 {
    transition: 1s;
    display: block;
}

.mainmenu li:hover .drop-down-white-arrow {
    display: inline-block;
}

.mainmenu li:hover .drop-down-arrow {
    display: none;
}



.submenu1 li:hover .subsubmenu1 {
    display: inline-block;
    transition: 1s;
}

.mainmenu .subsubmenu1 {
    top: 0;
    right: 0px;
    transform: translate(100%, 0);
}

.mainmenu .submenu1 li {
    position: relative;
}

.submenu2 {
    display: none;
    position: absolute;
    background-color: #900;
}

.mainmenu li:hover .submenu2 {
    display: block;
}


.thrd-sub-drp-down {
    background: #e8f7fd;
    border-radius: 18px;
    width: 100%;
}

.thrd-sub-drp-down a {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
}

.thrd-subsub-drp-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e8f7fd;
    border-radius: 18px;
    width: 100%;
}

.thrd-subsub-drp-down a {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    padding: 0px 10px 0px 5px;
}

.drop-down-white-arrow {
    display: none;
}

.drop-sub-down-arrow {
    display: none;
    padding-right: 14px;
    padding-left: 6px;
}

.drop-white-right-down-arrow {
    display: none;
}


/* _____________________________________________________ */


.carousel .pre-next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
}

.pre-pre-btn {
    left: -7.5% !important;
}

.carousel .next-next-btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
    right: -7.5%;
}


.carousel-inner {
    border-radius: 20px;
}

.carousel.slide .carousel-indicators.custom {
    /* position: relative; */
    margin: 5px;
    margin-left: 90px;
    justify-content: flex-start;
}

.carousel.slide .carousel-indicators .slider-dot {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    margin: 39px 5px;
    cursor: pointer;
}



.slideeeer {
    margin: 2% 10%;
}


.sidebar {
    // display: none;
    z-index: 1000;
    position: relative;
    left: 0;
    // width: 20%;
    height: 100vh;
    background-color: #ffffff;
}

.heading-menu-s {
    text-align: center;
    @include fonta(20px);
    padding: 15px 8px;
}

ul.all-lista {
    padding-left: 0rem !important;
}

.all-lista {
    li {
        padding-top: 40px;
        text-decoration: none;

        a {
            @include fonta(14px);
        }
    }

    .bg-wh {
        background-color: #F3F9FB !important;
    }

}


.all-lubhavnu {
    width: 83.5%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    color: black;
    top: 0px;
    left: 90px;
    gap: 10px;

    .best-deal {
        padding-top: 40px;
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .smart-wear {
        padding-top: 20px;
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 63px;
        line-height: 63px;
        color: #FFFFFF;
    }

    .upto-off {
        padding-top: 20px;
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .wrist-watch {
        padding-top: 24px;
        align-self: flex-start;
    }
}

.carousel-item {
    position: relative;
}

.d-block {
    height: 316px;
    background-color: #212844;
}

.d-block-1 {
    background-color: #2b0303;
}

.d-block-2 {
    background-color: #354e1e;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 4rem !important;
    height: 4rem !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30% !important;
}

.slider-left-arrow {
    background-color: $slider-arrow-bg-color !important;
    opacity: 100 !important;
    padding: 23px;
    border-radius: 50%;
    border: 8px solid white;
}

.slider-right-arrow {
    background-color: $slider-arrow-bg-color !important;
    opacity: 100 !important;
    padding: 23px;
    border-radius: 50%;
    border: 8px solid white;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: unset !important;
}

.sidebar-close-btn {
    display: none;
}


.containera {
    padding-left: 0px !important;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDED;
    margin-top: 3%;

    .view-all-c {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .txt-grbd {
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #666666;
        padding-bottom: 16px;
        border-bottom: 3px solid #008ECC;
    }

    .v-img {
        padding-left: 6px;
        padding-bottom: 3px;
    }

    .v-txt {
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        color: #222222;
    }

}


.fifty-6-off {
    position: absolute;
    top: 0;
    right: 0;
    background: #008ECC;
    border-radius: 0px 16px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 11px 8px 10px 8px;
}


.card {
    width: 227px !important;
}

.on-line {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #222222;
}

.hide-logo-side {
    display: none;
}

.scnd-sidebar {
    display: none;
}

// media startsss

@media (max-width: 1355px) {
    .carousel.slide .carousel-indicators.custom {
        margin: 5px;
        justify-content: center;
    }

    .carousel.slide .carousel-indicators .slider-dot {
        margin: 0px 3px;
    }
}

.grab-the-best-deal {
    padding: 0 10%;
}

.phone-div {
    width: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;

    border-radius: 16px !important;
}

.phone-img {
    height: 100%;
    padding: 2px;
}

.card-group {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.card-title {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #222222;
}

.card-text {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */


    /* HEading */

    color: #222222;
}

@media (min-width: 576px) {
    .card-group>.card.card {
        margin-left: 0;
        // border: none;
    }

    @media (min-width: 576px) {
        .card-group>.card {
            flex: none !important;
            margin-bottom: 0;
        }
    }

    .card-group .card {
        border: 1px solid #EDEDED;
        border-radius: 16px !important;
    }
}



@media (max-width: 1834px) {
    .hide-8 {
        display: none;
    }
}

@media (max-width: 1525px) {


    .hide-8 {
        display: none;
    }

    .hide-7 {
        display: none;
    }

    input {
        width: 80%;
    }
}


@media (max-width: 1243px) {
    .hide-6 {
        display: none;
    }

    .slider-left-arrow,
    .slider-right-arrow {
        padding: 13px;
    }

    .all-lubhavnu {
        left: 45px;

        .best-deal {
            padding-top: 15px;
        }

        .smart-wear {
            padding-top: 10px;
        }

        .upto-off {
            padding-top: 10px;
        }

        .wrist-watch {
            padding-top: 4px;
        }
    }

}


@media (max-width: 1060px) {
    .hide-5 {
        display: none;
    }

    .slider-left-arrow,
    .slider-right-arrow {
        padding: 10px;
    }


}

@media (max-width: 672px) {
    .hide-3 {
        display: none;
    }
}

@media (max-width: 1110px) {
    .scnd-serch-bar {
        display: none;
    }

    .all-asided {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .hide-logo-side {
        display: block;
        background-color: #F3F9FB;
        border-radius: 10px;
    }

    img.hide-logo-side {
        padding: 10px;
        border-radius: 50%;
    }

    .hide-txt-side {
        padding-top: 0px;
    }

    .all-lista li {
        padding-top: 40px;
        text-decoration: none;
        display: flex;
    }

    .scnd-nav {
        padding: 1% 10%;
    }

    .scnd-sidebar {
        display: block;
    }

    .scnd-serch-bar {
        margin: 5px 0px;
        padding: 10px 11px;
        border-radius: 10px;
        background-color: #F3F9FB;
    }

    input {
        font-size: 12px !important;
        border: none;
    }

    .all-lista li {
        padding-top: 40px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .heading-menu-s {
        font-weight: 400;
        font-size: 16px;
        line-height: 10px;

    }

    .heading-menu-s {
        margin-top: 10px;
    }

    a.kya {
        margin-left: 10px;
    }


    // remove it 
    .for-sidebaar {
        position: absolute;
    }

    .sidebar {
        width: 200%;
    }

    .sidebar-close-btn {
        display: block;
        width: 25px;
        height: auto;
        padding: 0 !important;
    }

    .button-for-flex {
        display: flex;
        justify-content: flex-end;
    }
}



@media (max-width: 1000px) {

    .hide-deliver,
    .hide-track,
    .hide-offer,
    .scnd-sign-txt,
    .scnd-cart-txt {
        display: none;
    }

    .fist-offer-img {
        padding-right: 0px;
    }

    .containera {

        margin-top: 50px;

        .txt-grbd {
            padding-bottom: 2px;
        }
    }


}

@media (max-width: 856px) {
    .heading-menu-s {
        margin-top: 10px;
        padding: 10px 2px;
    }

    .hide-4 {
        display: none;
    }

    .fist-line-img {
        padding: 0px 6px;
    }
}

//media for making to the end removing padding from the left and to the right also

@media (max-width: 1080px) {

    .slider-left-arrow,
    .slider-right-arrow {
        padding: 5px;
    }

    .fist-welcome,
    .scnd-nav,
    .thrd-nav {
        padding: 0% 3%;
    }

    .slideeeer {
        margin: 2% 5%;
    }

    .carousel .next-next-btn {
        right: 0%;
    }

    .pre-pre-btn {
        left: 0% !important;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 0% !important;
    }

    .scnd-nav-sec-1 {
        margin: 10px 0px;
    }

    .grab-the-best-deal {
        padding: 0 3%;
    }

    // for 3 image slider
    // .slid1-txt-logo-div {
    //     display: none;
    // }

    // .c1-d3 {
    //     display: none;
    // }

    .slid1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sldr-inside {
        height: 510px !important;
    }

    .slid1-card {
        width: 35%;
    }

}

@media (max-width: 895px) {
    .slid1-card {
        width: 50% !important;
    }
}

@media (max-width: 600px) {
    .slid1-card {
        width: 80% !important;
    }
}



@media (max-width: 950px) {
    .all-lubhavnu {
        width: 90%;
        top: 0px;
        left: 6%;
        display: flex;
        flex-direction: column-reverse;
    }

    .d-block {
        height: 500px;
    }

    .wrist-watch {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .all-lubhavnu-text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .d-block {
        height: 600px;
    }
}



@media (max-width: 700px) {

    .for-sidebaar {
        position: absolute;
    }

    .sidebar {
        width: 256%;
    }

    .sidebar-close-btn {
        display: block;
        width: 25px;
        height: auto;
        padding: 0 !important;
    }

    .button-for-flex {
        display: flex;
        justify-content: flex-end;
    }
}


@media (max-width: 576px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }

    // .v-txt, .v-img{
    //     display: none;
    // }

    .view-all-c {
        display: none !important;
    }

}

.card {
    border-radius: 16px;
}

.wandering-card {
    border-radius: 16px !important;
}


.off-text {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 11px 8px 10px 8px;

    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #008ECC;
    border-radius: 0px 16px;
}

.card-img-top {
    padding: 20px 51px;
    background-color: #F5F5F5;
}

.wandering-card {
    border: none !important;
    width: 132px !important;
    height: 132px;
    justify-content: center;
    display: flex;
    align-items: center;


    .card-img-top1 {
        width: 52px;
    }
}


.card-group1 {
    justify-content: space-around;
}

.its-small-img {
    text-align: center;
    width: 100%;
    background-color: #F5F5F5;
    padding: 17px 40px;
    border-radius: 50%;
}

.second-deals-txt {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #222222;
}




// 3 card slider css starts

.sldr {
    margin-top: 50px;
    overflow: hidden;
}

.sldr-inside {
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    height: 208px;
}

.slid1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    gap: 15px;
    transition: 1s;
}

.slid1-card {
    width: 33.33%;
    border-radius: 16px;
    display: flex;

    &.c1-d1 {
        background: #000000;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &.c1-d2 {
        background: #FFF3CC;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &.c1-d3 {
        background: #FFECDF;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .iphone-txt {
        padding: 9px 20px;
        font-family: 'HK Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;

        color: #FFFFFF;
        background: #494949;
        border-radius: 8px;
    }

    .realme-txt {
        padding: 9px 20px;
        font-family: 'HK Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        background: #F6DE8D;
        border-radius: 8px;
        margin-bottom: 25px;
    }

    .xiaomi-txt {
        padding: 9px 20px;
        font-family: 'HK Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        background: #FFD1B0;
        border-radius: 8px;
    }

}


.imgg img {
    padding: 8px 0px;
}

.prenexbtn {
    text-align: center;
}

.pr-btn,
.nxt-btn,
.ext-btn {
    content: "";
    background-color: #D9D9D9;
    height: 8px;
    width: 8px;
    border: none;
    border-radius: 50%;
}


.wandering-cardd {
    border: none !important;
    width: 187px !important;
    // height: 187px !important;
    justify-content: center;
    display: flex;
    align-items: center;



    .its-small-imgg {
        text-align: center;
        width: 100%;
        background-color: #F5F5F5;
        border-radius: 16px
    }

    .card-img-topp1 {
        width: 176px;
    }

    .card-body {
        padding-top: 5px;
    }

    .second-deals-txt {
        font-family: 'Hanken Grotesk', sans-serif;

        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #666666;
    }

    .card-upto-txt {
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #222222;
    }
}

.Daily-esse .card-group1 {
    gap: 14px;
}

.final-sec {
    margin-top: 120px;
    background: #008ECC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    gap: 90px;
    padding-left: 8.75%;
    padding-bottom: 83px;
    flex-wrap: wrap;

    .constcts-div {
        display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: column;
    }

    .contact-us-txt {
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        padding-top: 34px;
    }

    .logo-div {
        text-align: left;
        justify-self: flex-end;
    }

    .whatsapp,
    .call-us {
        padding-top: 20px;
        display: flex;
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .stores {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

    }

}

.pop-categories,
.cust-service {
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    align-self: baseline;

    ul {
        margin-top: 25px;
        padding-left: 1.5rem;

        li {
            list-style-type: disc;
        }
    }

    .it-is-list {
        font-family: 'Hanken Grotesk', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 37px;
        color: #FFFFFF;
    }

    .heading-pop-txt {
        padding-bottom: 16px;
        border-bottom: 3px solid #FFFFFF;
    }
}

.cpright {
    background: #008ECC;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 30px;
    border: 1px solid #05ABF3;
}

i{
    margin-left: 10px;
    font-size: 20px !important;
    margin-right: 10px;
}